<component name="ArtifactManager">
  <artifact type="exploded-war" name="myBatisWithTheFirst:war exploded">
    <output-path>$PROJECT_DIR$/target/myBatisWithTheFirst</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="myBatisWithTheFirst" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: junit:junit:4.12" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.1.1" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.16" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-nop:1.6.4" />
          <element id="library" level="project" name="Maven: org.wisdom-framework:mysql-connector-java:5.1.34_1" />
          <element id="library" level="project" name="Maven: org.apache.felix:org.apache.felix.ipojo.annotations:1.12.1" />
          <element id="library" level="project" name="Maven: org.wisdom-framework:abstract-jdbc-driver:0.5" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/myBatisWithTheFirst/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="myBatisWithTheFirst/web/Web" />
    </root>
  </artifact>
</component>